<section id="counts" class="counts section-bg">

    <div class="container">

        <div class="row counters">
            <div class="col-lg-4 col-6 text-center">
                <span data-toggle="counter-up">{{cantUsuarios}}</span>
                <p>Usuarios</p>
            </div>

            <div class="col-lg-4 col-6 text-center">
                <span data-toggle="counter-up">{{cantVehiculo}}</span>
                <p>Modelo de vehículos</p>
            </div>

            <div class="col-lg-4 col-6 text-center">
                <span data-toggle="counter-up">{{cantVenta}}</span>
                <p>Ventas</p>
            </div>

        </div>

    </div>
</section>