        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Preguntas Frecuentes</h2>
                    <p>
                        Antes de contactar a alguno de nuestros administradores, explora estas lista de preguntas frecuentes
                    </p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">¿Como puedo hacer una oferta en una subasta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                                <p>
                                    Primero, debes registrar una cuenta y estar ingresada en ella. Luego, busca en nuestro catálogo el carro que estés interesado obtener y de ahí puedes hacer una oferta
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">¿Como registro un automóvil para regateo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                                <p>
                                    Primero, debes registrar una cuenta y estar ingresada en ella. Luego, etnra en nuestro menú de ventas e ingresa todos los datos requeridos del carro, incluyendo una fecha límite
                                    para hacer ofertas y un monto donde empezar la subasta.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">¿Que pasa cuando se finaliza una subasta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                                <p>
                                    Al vendedor se le enseñarán las ofertas más altas, y de ahí podrá comunicarse con el vendedor que desee. 
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">¿Donde puedo ver mis subastas anteriores? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                                <p>
                                    En la página de su cuenta, podrá ver sus interacciones previas con otras subastas y las ventas que ha hecho en el pasado
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section>