    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container position-relative">
            <h1>Bienvenido a <b style="color: #FFC107;">VTV {{ rol}} </b> !</h1>
            <h2><b style="color: #FFC107;">V</b></v>ende <b style="color: #FFC107;">T</b>u <b style="color: #FFC107;">V</b>ehículo de manera sencilla y segura.</h2>
            <a href="#about" class="btn-get-started scrollto">Comenzar</a>
        </div>
    </section>
    <!-- End Hero -->