<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> header}}

    {{> section}}

    <main id="main">

        {{> subasta}}

        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/vehiculos.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3>
                            <Table>¿Quienes somos?</Table>
                        </h3>
                        <p>
                            Somos un grupo de programadores que buscamos ofrecer el servicio de mejor comunicación entre
                            los vendedores y sus compradores. Pensamos que la clave para un regateo
                            sea de beneficio para todos es a través de ser claro con las ofertas de todas las personas
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="bx bx-receipt"></i>
                                <h4>Archivando toda interacción </h4>
                                <p>Revisa tu historial de ventas y subastas para verificar tu estrategia de regateo</p>
                            </div>
                            <div class="col-md-6">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Investiga nuestro catálogo</h4>
                                <p>Existe una gran cantidad de autiomóviles en nuestro sitio. Descubre cual es la mejor
                                    para vos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> counter}}

        {{> preguntasFrecuentes}}

    </main>

    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>VTV</span></strong>. Derechos Reservados
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    {{> scripts}}


</body>

</html>