<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    <!-- ======= Header ======= -->
        <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="/">VTV</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            {{!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> --}}

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/usuario_index">Inicio</a></li>
                    <li><a href="#portfolio">Subasta</a></li>
                    <li><a href="#">Ventas</a></li>
                    <li class="drop-down"><a href="">Cuenta Usuario</a>
                        <ul>
                            <li><a href="#">Ver Cuenta</a></li>
                            <!-- <li class="drop-down"><a href="#">Deep Drop Down</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li> -->
                            <li><a href="/">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->
    
    <!-- ======= Hero Section ======= -->
    {{> section}}
    <!-- End Hero -->
    <main id="main">

    <!-- Cambio al orden subasta ahora de primero. Líneas 24, 25, 31-34, y todos los image searches ahora para incluir carros y se les añade el código width="500" height="600" -->

        <!-- ======= Subastas Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Subastas destacadas</h2>
                    <p>Mira rapidamente las subastas más populares y de más interés </p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Todos</li>
                            <li data-filter=".filter-carro">Carros</li>
                            <li data-filter=".filter-moto">Motos</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Carro Blanco</h4>
                            <p>Carro</p>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Carro Negro</h4>
                            <p>Carro</p>
                            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Verde</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Toyota</h4>
                            <p>Carro</p>
                            <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Negro</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Carro Deportivo Blanco</h4>
                            <p>Carro Blanco</p>
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Azul</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Negro</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Subastas Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <!-- Lineas 149, 152, 152, 158, 159, 163, 164 cambiadas -->

                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3>
                            <Table>¿Quienes somos?</Table>
                        </h3>
                        <p>
                            Somos un grupo de programadores que buscamos ofrecer el servicio de mejor comunicación entre los vendedores y sus compradores. Pensamos que la clave para un regateo
                            sea de beneficio para todos es a través de ser claro con las ofertas de todas las personas
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="bx bx-receipt"></i>
                                <h4>Archivando toda interacción </h4>
                                <p>Revisa tu historial de ventas y subastas para verificar tu estrategia de regateo</p>
                            </div>
                            <div class="col-md-6">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Investiga nuestro catálogo</h4>
                                <p>Existe una gran cantidad de autiomóviles en nuestro sitio. Descubre cual es la mejor para vos</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Counts Section ======= -->
        {{> counter}}
        <!-- End Counts Section -->

        <!-- ======= Comentarios Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="section-title">
                    <h2>Comentarios</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                        quidem hic quas.</p>
                </div>

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus
                            at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam
                            anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                            labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                            culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Comentarios Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->

        <!-- Cambios a líneas 370, 372, 379, 382, 388, 391, 392, 398, 401, 407, 410 -->

        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Preguntas Frecuentes</h2>
                    <p>
                        Antes de contactar a alguno de nuestros administradores, explora estas lista de preguntas frecuentes
                    </p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">¿Como puedo hacer una oferta en una subasta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                                <p>
                                    Primero, debes registrar una cuenta y estar ingresada en ella. Luego, busca en nuestro catálogo el carro que estés interesado obtener y de ahí puedes hacer una oferta
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">¿Como registro un automóvil para regateo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                                <p>
                                    Primero, debes registrar una cuenta y estar ingresada en ella. Luego, etnra en nuestro menú de ventas e ingresa todos los datos requeridos del carro, incluyendo una fecha límite
                                    para hacer ofertas y un monto donde empezar la subasta.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">¿Que pasa cuando se finaliza una subasta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                                <p>
                                    Al vendedor se le enseñarán las ofertas más altas, y de ahí podrá comunicarse con el vendedor que desee. 
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">¿Donde puedo ver mis subastas anteriores? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                                <p>
                                    En la página de su cuenta, podrá ver sus interacciones previas con otras subastas y las ventas que ha hecho en el pasado
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>VTV</span></strong>. Derechos Reservados
                </div>
            </div>
            {{!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div> --}}
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>