<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  {{> adminHeader}}

  {{> section}}

  <main id="main">
    <br>
    <hr>

    {{!-- Tabla de usuarios --}}
    <div class=" scroll tabla">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID_Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Cédula</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Correo_Electrónico</th>
            <th scope="col">Fecha_Creación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">6051211f657d35912d938d0d</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Gutenberg</td>
            <td>12345678</td>
            <td>178956482</td>
            <td>CR</td>
            <td>markotto@gmail.com</td>
            <td>02/02/2020</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Ana</td>
            <td>Marín</td>
            <td>Perez</td>
            <td>12345678</td>
            <td>895472361</td>
            <td>USA</td>
            <td>anamarin@gmail.com</td>
            <td>02/08/2020</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Marie</td>
            <td>Gaston</td>
            <td>Ortiz</td>
            <td>12345678</td>
            <td>11236975</td>
            <td>CR</td>
            <td>mariegaston@gmail.com</td>
            <td>02/05/2020</td>
          </tr>
        </tbody>
      </table>
    </div>



  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>VTV</span></strong>. Derechos Reservados
        </div>
      </div>
      {{!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> --}}
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  {{> scripts}}
</body>

</html>