<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="/">VTV</a></h1>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/usuario_index">Inicio</a></li>
                    <li><a href="#portfolio">Subasta</a></li>
                    <li><a href="/registroVenta">Ventas</a></li>
                    <li class="drop-down"><a href="">Cuenta Usuario</a>
                        <ul>
                            <li><a href="#">Ver Cuenta</a></li>
                            <!-- <li class="drop-down"><a href="#">Deep Drop Down</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li> -->
                            <li><a href="/">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

    {{> section}}

    <main id="main">

        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Subastas destacadas</h2>
                    <p>Mira rapidamente las subastas más populares y de más interés </p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Todos</li>
                            <li data-filter=".filter-carro">Carros</li>
                            <li data-filter=".filter-moto">Motos</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Carro Blanco</h4>
                            <p>Carro</p>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Carro Negro</h4>
                            <p>Carro</p>
                            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Verde</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Toyota</h4>
                            <p>Carro</p>
                            <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Negro</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-carro">
                        <img src="assets/img/Carros/imgC4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Carro Deportivo Blanco</h4>
                            <p>Carro Blanco</p>
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Azul</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-moto">
                        <img src="assets/img/Motos/imgM4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Moto Negro</h4>
                            <p>Moto</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="/portfolio-details" data-gall="portfolioDetailsGallery" data-vbtype="iframe"
                                class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>VTV</span></strong>. Derechos Reservados
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    {{> scripts}}

</body>

</html>